.navbar_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    background-color: #292929;
}

.navbar_container a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    display: inline-block;
}

.navbar_container a:hover {
    color: rgb(255, 64, 64);
}

.logo {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
}
